@import 'config';
@import 'Home';
@import 'Leaderboard';
@import 'About';
@import 'Settings';
@import 'User';

.App {
  height: 100vh;
  background-color: $primaryBackgroundColor;
  color: $primaryColor;
  display: flex;
  flex-direction: column;
}

.nav-footer-container {
  width: 100%;
  position: sticky;
  bottom: 0;
}

//=============================================================================
// NAV
//=============================================================================

.nav {
  height: 5vh;
  width: 100%;
  background-color: $primaryBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &-item {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primaryColor;
    cursor: pointer;

    &.active {
      color: $secondaryColor;
    }

    &:hover {
      color: $secondaryColor;
    }
  }
}

//=============================================================================
// FOOTER
//=============================================================================

.Footer {
  height: 5vh;
  width: 100%;
  background-color: $primaryBackgroundColor;
  // position: fixed;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%);
  margin-top: auto;
  display: flex;
  justify-content: center;

  .footer-item {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primaryColor;

    h4 {
      padding-left: 10px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    &.no-hover {
      cursor: default;

      &:hover {
        color: $primaryColor;
      }
    }

    &:hover {
      color: $secondaryColor;
    }
  }
}
